<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qs.classhelper.dao.TbInfoMapper">
<resultMap id="BaseResultMap" type="qs.classhelper.entity.TbInfo">
  </resultMap>
 <select  id="getAllInfo" resultMap="BaseResultMap">
	  select * from tb_info
	</select>
</mapper>